// @import "node_modules/bootstrap/scss/bootstrap";
.box {
    border: 3px solid black;
    width: 250px;
    height: 230px;
    margin-left: 60px;
    margin-top: 30px;
}

.delete-checkbox {
    margin-left: 20px;
    // outline: 2px solid black;
}

.box-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-style {
    justify-content: space-between;
    font-family: comic-sans;
    font-weight: bold;
}